.produk {
  width: 200px;
  // height: 300px;
  margin: 30px;
  transition: all 0.5s;
  &.hide {
    display: none;
  }
}
.product-image {
  position: relative;
  //   margin: 25px;
  width: 200px;
  height: 250px;
  //   background-image: url("../../LIGASOS.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;

  //   .product-image .overlay
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn-beli {
      height: 25px;
      font-size: 15px;
      margin-top: 10px;
      width: 100px;
      text-transform: uppercase;
      font-weight: 600;
      border-radius: 15px;
      border: 0;
    }
  }

  &:hover .overlay {
    opacity: 1;
  }
}
.title {
  text-align: center;
}
.logo {
  width: 200px;
  height: 250px;
}
