section {

  &.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.none {
    display: none;
  }

  &.sticky {
    position: fixed;
  }
  &.full-page {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
  }
}

.navbar {
  width: 100vw;
  height: 70px;
  display: flex;
  position: fixed;
  top: 0;
  padding: 0;
  z-index: 3;
  justify-content: center;
  background: #1c4d86;
  align-items: center;

  & + .section-home {
    margin-top: 70px;
  }
  .navbar-container {
    color: white;
    width: 85%;
    height: 60px;
    margin-left: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-left {
    display: flex;
    align-items: center;
    margin: 0;
    flex: 2;
    justify-content: flex-start;

    .nav__icon {
      display: none;
      width: 36px;
      height: 28px;
      margin-right: 10px;
      position: absolute;
      cursor: pointer;

      & span {
        background: rgba(255, 255, 255, 1);
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        transition: all 0.4s;

        &:nth-of-type(1) {
          top: 0;
        }

        &:nth-of-type(2) {
          top: 12px;
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
      }

      &.active span {
        &:nth-of-type(1) {
          -webkit-transform: translateY(12px) rotate(-45deg);
          transform: translateY(12px) rotate(-45deg);
        }
        &:nth-of-type(2) {
          display: none;
        }
        &:nth-of-type(3) {
          -webkit-transform: translateY(-12px) rotate(45deg);
          transform: translateY(-12px) rotate(45deg);
        }
      }
    }

    ul {
      display: inherit;
      margin: 0;
      justify-content: space-between;
      list-style-type: none;
    }

    li {
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .navbar-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
  }

  .navbar-right {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: flex-end;
    i {
      font-size: 35px;
      margin-right: 5vw;
    }
  }
}