.section-katalog {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 70px);
  margin-top: 70px;
  padding-top: 20px;
  width: 100%;
  background: white;

  .section-title {
    text-transform: uppercase;
    font-size: 50pt;
    font-weight: 700;
    text-align: center;
  }

  .section-content {
    justify-content: center;
    width: 75%;

    .product-overlay {
      position: fixed; /* Sit on top of the page content */
      // display: block;
      color: white;
      width: 100%; /* Full width (cover the whole page) */
      height: calc(100% - 70px); /* Full height (cover the whole page) */
      top: 70px;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.show {
        display: flex;
      }
    }

    .products {
      width: 100%;
      align-self: center;
      display: flex;
      flex-wrap: wrap;
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      // grid-gap: 30px;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 950px) {
  .section-katalog {
    .section-title {
      font-size: 25pt;
    }
    .section-content {
      // width: 100%;
      .category {
        margin-left: 0px;
      }
    }
  }
}
